html,body{
    margin: 0%;
    padding: 0%;
}
.container{
    background-image: url("./images/background.jpeg");
    height: 100vh;
}
h1{
    margin: 0%;
    padding-top: 10px;
    text-align: center;
    color: azure;
}
#mycar{
    position: absolute;
    left: 0px;
    bottom: 0px;

}